<?xml version="1.0"?>
<configuration>
  <!-- 2019/04/09 ADD JBD368 新元号対応 -->
  <configSections>
    <section name="GrapeCityEra" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <GrapeCityEra>
    <add key="1868 09 08" value="明治_明_M_1,M"/>
    <add key="1912 07 30" value="大正_大_T_2,T"/>
    <add key="1926 12 25" value="昭和_昭_S_3,S"/>
    <add key="1989 01 08" value="平成_平_H_4,H"/>
    <!-- 新元号の定義を追加 -->
    <add key="2019 05 01" value="令和_令_R_5,R"/>
  </GrapeCityEra>
  <!-- 2019/04/09 ADD JBD368 新元号対応 -->
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <runtime>
    <assemblybinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentassembly>
        <assemblyidentity culture="neutral" publickeytoken="89b483f429c47342" name="Oracle.DataAccess"/>
        <bindingRedirect oldVersion="0.0.0.0-4.112.1.2" newVersion="4.112.1.2"/>
      </dependentassembly>
    </assemblybinding>
  </runtime>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
