@import './scrollbar.scss';

#app {
  .ant-card-body {
    padding: 12px;
  }
}

//てきおう
.self_adaption_table {
  .ant-col {
    display: flex;
    th {
      border: none;
      color: rgba(0, 0, 0, 0.85);
      padding: 2px 4px;
      line-height: 32px;
      background-color: #ffffe1;
      font-weight: normal;
      text-align: start;
    }
    td {
      border: none;
      color: rgba(0, 0, 0, 0.85);
      padding: 2px 2px;
      flex: 1;
      overflow-wrap: break-word;
      display: flex;
    }
  }
  .ant-col td {
    width: 0; // セレクタ幅制限
  }
  &.form {
    .ant-col th {
      background-color: aliceblue;
    }
    .required::after {
      content: '＊';
      color: #ff0000;
    }
  }
  //灰色の頭部
  .head-grey {
    th {
      padding-left: 16px;
      background-color: #eee !important;
      border-right: none !important;
    }
    td {
      background-color: #eee;
    }
  }
  // <a-col :md="0"
  @media (max-width: 1600px) {
    .ant-col-md-0 {
      display: none;
    }
  }
}

//編集画面
.edit_table {
  .ant-col {
    display: flex;
    th {
      margin: 0 0 -3px -3px;
      padding: 2px 4px;
      line-height: 32px;
      border: none !important;
      font-weight: normal;
      height: 34px;
      text-align: start;
    }
    td {
      margin: 0 0 -3px -3px;
      // border: none !important;
      color: rgba(0, 0, 0, 0.85);
      padding: 2px 2px;
      height: fit-content;
      flex: 1;
      overflow-wrap: break-word;
      display: flex;
    }
  }
  .ant-col td {
    width: 0; // セレクタ幅制限
  }
  &.form {
    .required::after {
      content: '＊';
      color: #ff0000;
    }
  }
  // <a-col :md="0"
  @media (max-width: 1600px) {
    .ant-col-md-0 {
      display: none;
    }
  }
}

//DB登録ボタン
//<a-button type="warn"/>
.ant-btn-warn {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.ant-btn-warn:focus,
.ant-btn-warn:hover {
  background: #e6c79a !important;
  border-color: #e6c79a !important;
  color: #fff !important;
}
.ant-btn-warn:disabled {
  background: #f5f5f5 !important;
  border-color: #dadada !important;
  color: #000000 !important;
}
//or <a-button class="warning-btn"/>
.warning-btn {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.warning-btn:focus,
.warning-btn:hover {
  background: #e6c79a !important;
  border-color: #e6c79a !important;
  color: #fff !important;
}
.warning-btn:disabled {
  background: #f5f5f5 !important;
  border-color: #dadada !important;
  color: #000000 !important;
}

//削除ボタン
//<a-button type="danger"/>
.ant-btn-danger {
  color: #fff;
  background-color: #f5222d;
  border-color: #f5222d;
}
.ant-btn-danger:focus,
.ant-btn-danger:hover {
  background: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: #fff !important;
}
.ant-btn-danger:disabled {
  background: #f5f5f5 !important;
  border-color: #dadada !important;
  color: #000000 !important;
}
//or <a-button class="danger-btn"/>
.danger-btn {
  color: #fff;
  background-color: #f5222d;
  border-color: #f5222d;
}
.danger-btn:focus,
.danger-btn:hover {
  background: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: #fff !important;
}
.danger-btn:disabled {
  background: #f5f5f5 !important;
  border-color: #dadada !important;
  color: #000000 !important;
}

.ant-btn-primary:disabled {
  background: #f5f5f5 !important;
}

a {
  color: rgb(var(--primary-color));
  &:hover {
    color: rgb(var(--primary-300-color));
  }
}
:deep(:disabled) {
  color: black;
}
::-ms-reveal {
  display: none;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  padding-left: 0.25rem; /* 4px */
  padding-right: 0.25rem;
}
//レイヤーマスク
.search-disabled-mask {
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  opacity: 0.5;
}
.parent-container {
  position: relative;
}
//popup　content
:where(.css-dev-only-do-not-override-8krvbs)
  .ant-modal:not(.ant-modal-confirm)
  .ant-modal-content {
  background-color: aliceblue;
}
//popup title
:where(.css-dev-only-do-not-override-8krvbs).ant-modal .ant-modal-title {
  margin: 0;
  color: rgba(0, 0, 0, 0.88);
  background-color: aliceblue;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  word-wrap: break-word;
}

//検索条件　幅変えられる
:where(.css-dev-only-do-not-override-8krvbs).ant-card:not(.staticWidth) {
  min-width: 95rem;
}
//一覧表 ヘッダー fontWeight
.vxe-header--column {
  font-weight: 400;
}

.wrap-modal {
  .ant-modal-content {
    padding: 20px 0 !important;
  }
}
