/** -----------------------------------------------------------------
 * 業務名称　: 互助事業システム
 * 機能概要　: vxe-table 変数
 * 　　　　　  スタイル設定
 * 作成日　　: 2023.04.04
 * 作成者　　: 李
 * 変更履歴　:
 * -----------------------------------------------------------------*/

:root {
  --vxe-ui-font-family: 'MS Gothic,Acgjm';
  --vxe-ui-font-color: #262626;
  --vxe-ui-table-border-color: #dddddd;
  --vxe-ui-table-column-padding-default: 6px 0;
  --vxe-ui-table-header-background-color: #fff;
  --vxe-ui-table-row-height-default: 36px;
  --vxe-ui-layout-background-color: #eeeeee;
  --vxe-ui-table-row-current-background-color: #3b82f6;
  --vxe-ui-table-row-hover-current-background-color: #3b82f6;
}

.vxe-table {
  // border: 1px solid #606266;
  tbody {
    background-color: #fff;
  }
}
.vxe-table--render-default .vxe-body--row.row--current {
  td {
    & > span {
      color: #fff;
    }
    & > a {
      color: #fff;
    }
    & > div {
      & > a,
      span {
        color: #fff;
      }
    }
  }
}
.vxe-table--render-default.border--full .vxe-table--header-wrapper {
  // border-bottom: 1px solid #606266;
}

//header
.vxe-header--row .vxe-cell {
  .vxe-cell--sort {
    position: absolute;
    right: 0;
    scale: 0.8;
    height: 1.25em;
  }
  &:has(.vxe-cell--sort) {
    cursor: pointer;
  }
}
